.danraku {
    color: red;
    text-align: center;
}

.danraku2 {
    color: rgb(31, 144, 31);
    text-indent: 20%;
    background-color: blue;
}

#baseball {
    text-shadow: 13ch;
}

#tennis {
    color: #bae22a;
}
